* {
    margin: auto;
    padding: auto;
}
/* Navbar style */
ul {
    list-style: none;
    
    
}
.navpart {
    display: flex;
}
.rigth_text {
    text-align: right;
    margin: 10px  20px;
    margin-right: 80px;
}
.rigth_text span {
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: gray;
}
hr {
    opacity: 0.5;
    margin-bottom: 20px;
}

.search  {
    font-size: 20px;
    color: rgb(30, 18, 18);
    margin-right: 50px;
    margin-left: 40px;
    display: block;
    margin-top: 10px;
    position: relative;
}
li {
    font-size: 20px;
    color: rgb(37, 36, 36);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav span{
    margin-left: 20px;
    margin-right: 20px;
}

sup {
    color: red;
    font-weight: bold;
}

/* Navbar style Fin*/

/* Header style */
.presentation {
    display: flex;
    margin-left: 100px;
}
.part_text {
    width: 600px;
}
.part_text h3 {
    color: blue;
    font-size: 60px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.part_text p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(143, 152, 160);
}
.part_text button {
    background-color: rgb(216, 72, 72);
    border: none;
    width: 180px;
    height: 40px;
    color: wheat;
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;

}
.presentation img {
    margin-right: 150px;
    margin-top: 40px;
}

/* Début des produits*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-bottom: 50px;
}  
/* Fin des produits*/

.presentation_week img {
    float: left;
    margin-right: 50px;
}
.presentation_week h3 {
   font-size: 40px;
}
.presentation_selling img {
    float: right;
}
.details_selling {
    margin-left: 80px;
}
.presentation_selling h3 {
    font-size: 40px;
 }
 .titre {
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif

 }
 .paragraph {
    text-align: center;
    font-size: 20px;
    
 }
 .grid_start {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-bottom: 50px;
}
.reseau {
    background-color: blue;
    border: none;
    border-radius: 90%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.desc {
    font-size: 20px;
    text-align: justify;
    width: 400px;
}

.item_grid input[type=text] {
    border : none;
    border-bottom: 1px solid black;
    width: 250px;
    margin-top: 10px;
  }
  input::placeholder {
    color: rgb(86, 84, 84);
    font-size: 1.2em;
    margin-bottom: 40px;
    
 }
 .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

/* Payement */
.payement-title {
    margin-left: 80px;
    margin-bottom: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.payement {
    margin-top: 50px;
}

.payement-method {
    margin-left: 80px;
    border: 1px solid rgb(207, 200, 200);
    padding: 20px;
}

.payement-method label {
    margin-right: 300px;
    margin-left: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

input[type="radio"] {
    border: 1px solid #000;
}
.form-payment {
    margin-left: 80px;
    margin-top: 30px;

}
.form-payment h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.adress input[type=text] {
    width: 800px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(189, 184, 184);
}
.detais input[type=text] {
    margin-left: 70px;
    width: 352px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(189, 184, 184);

}

.go-back {
    background-color: rgb(240, 230, 230);
    padding: 20px;
}

.button-pay button {
    background-color: brown;
    border: none;
    width: 200px;
    height: 50px;
    color: aliceblue;
    font-size: 30px;
    padding: 10px;
    
}
.grid_start_payment {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto    ;
    padding: 10px;
    margin-bottom: 50px;
}

/*  Product add to cart*/

.sucessful {
background-color: rgb(41, 118, 82);
margin-top: 10px;
}
.sucessful p {
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.end_start {
    float: right;
    margin-right: 30px;
}

.sous-menu {
    margin-left: 150px;
}

.sous-menu span {
    margin-right: 10px;
    font-size: 15px;
    color: rgb(146, 146, 128);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-add {
    margin-top: 30px;
}

.btn {
    margin-bottom: 30px;
}

.ote {
    margin-right: 100px;
    margin-left: 200px;
}

.full-img {
    background-color: rgb(219, 219, 197);
    padding: 20px;
}

.info {
    margin-top :10px;
    margin-left: 30px;
}
.title-info {
    margin-bottom: 30px;
}
.price {
    color: red;
    font-weight: bold;
    font-size: 20px;

}
.tpe {
    margin-top: 30px;
    margin-bottom: 30px;

}

.tpe span {
    border: 1px solid gray;
    padding: 10px;
    width: 50px;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
}
 .button-add  button{
    border: none;
    color: aliceblue;
    background-color: blue;
    width: 680px;
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;

 }
 .button-add {
    margin-bottom: 30px;
 }

 .describe p {
    font-size: 18px;
 }
 .describe {
    margin-bottom: 20px;
 }
 .detailproduct p {
    border: 1px solid gray;
    margin-top: 10px;
    padding: 20px;
    text-align: center;

 }

 .tec {
    float: right;
 }
.title-section h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}